/* =========================
   BOX MODEL
========================= */
.circle {
    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    outline: 2px solid red;
    outline-offset: 0.25rem;
}

.circle1 {
    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 20px;
    outline: 2px solid red;
    outline-offset: 0.25rem;
}

/* =========================
   CSS TEXT
========================= */
.text-demo {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* =========================
   CSS ANCHOR + PSEUDO CLASS
========================= */
a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

a:hover,
a:focus {
    color: dodgerblue;
}

a:visited {
    color: purple;
}

a:active {
    color: red;
}

/* =========================
   CSS LIST
========================= */
ul {
    list-style-type: square;
    line-height: 1.6;
}

ul li {
    color: black;
}

/* Even items */
ul li:nth-child(even) {
    color: red;
}

/* Marker styling */
ul ::marker {
    color: red;
    font-family: fantasy;
    font-size: 1em;
    content: "Only $5 >> ";
}
